.flex {
    display: flex;
}

.justify {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.f-3 {
    width: 50%;
}

.f-2 {
    width: 50%;
}

.global-width {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.h-main {
    font-size: 35px;
}

.slim {
    font-weight: 900;
    color: #808080;
    text-align: center;
    font-size: 50px;
}